# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Air files
tmp

# Dependency directories (remove the comment below to include it)
# vendor/

## Some .env, they can contains keys to some services
## Use local.env to share defaults and examples.
testing.env
dokku.env
override.env
.env